<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112526902-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112526902-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" type="image/png" href="https://www.serebii.net/shuffle/pokemon/576.png">

    <title>VGCStats</title>
  </head>

  <!-- Spinner -->
  <template id="spinnercomp">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </template>

  <!-- Pokemon stat card -->
  <template id ="pokecard">
    <div class="col-md-6 col-lg-6 col-sm-12" :class="{ hidden : hidden }"> 
      <div class="card text-center my-2">
        <div class="card-header h6">
          <span class="badge badge-secondary float-left badge-pill">#{{ rank }}</span>{{ name }} - {{ name2 }}
        </div>
        <div class="div-card-img">
          <img class="card-img-top px-5 align-middle ml-5 img-fluid" :src="image" alt="Card image cap">
          <img class="card-img-top px-5 align-middle mr-5 img-fluid" :src="image2" alt="Card image cap">
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>{{ usage | percentage }}</strong> USAGE <br>
          </p>
        </div>
      </div>
    </div>
  </template>

  <!-- Event teams card -->
  <template id="eventcard">
    <div>        
        <div v-for="team in event" :key="event._id">
          <h5>{{ team.Standing}}) {{team.Player}}</h5>
          <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img1"></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img2"></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img3"></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img4"></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img5"></div>
            <div class="col-lg-2 col-md-4 col-sm-6"><img class="team-image py-1" :src="team.Img6"></div>
          </div>
          <hr>
        </div>
    </div>
  </template> 
  
  <!-- Stats page -->
  <template id="statspage">
    <div class="container">
      <spinnercomp v-if="loading"></spinnercomp>

      <div v-show="!loading">
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search bar" v-model="search">
        </div>
      </div>
      
      <div class="row">
        <pokecard 
          :cpu="poke.cpu"
          :search="search"
          v-for="poke in searchPokemon"
          :name="poke.Pokemon1"
          :name2="poke.Pokemon2"
          :image="poke.Img1"
          :image2="poke.Img2"
          :cp="poke.cp"
          :usage="poke.count / total"
          :rank="poke.rank"
          :key="poke.Pokemon1 + poke.Pokemon2"
        ></pokecard>
      </div> 
    </div>
  </template>

  <!-- teams page -->
  <template id="teamspage">
    <div>
      <div class="container">
        <spinnercomp v-if="loading"></spinnercomp>

        <div v-show="!loading">
          <div class="input-group mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search bar" v-model="search">
          </div>
        </div> <br>

        <eventcard :event="searchPokemon"></eventcard>
      </div>
    </div>
  </template>
  
  <!-- BODY -->
  <body>
    <div id="app">
      <div class="jumbotron">
        <img src="https://www.serebii.net/art/th/576.png" class="float-left">
        <h1 class="display-4">VGCStats - NPA 2019</h1>
        <p class="lead">A record of teams in NPA 2019. By <a href="https://twitter.com/profshroomish">@profshroomish</a></p> 

        <nav class="nav nav-fill main-nav">
          <router-link class="text-muted nav-item nav-link" to="/" exact>Pokémon</router-link>
          <router-link class="text-muted nav-item nav-link" to="/teams">Teams</router-link>
          <a class="text-muted nav-item nav-link" href="https://vgcstats.com" exact>VGCStats</a>
          <a class="text-info nav-item nav-link" href="https://ko-fi.com/vgcstats">Buy us a coffee!</a>
        </nav>
      </div>

      <keep-alive> 
        <router-view></router-view>
      </keep-alive>
    </div>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/miso.dataset@0.4.1/dist/miso.ds.deps.min.0.4.1.js"></script>
    <script src="https://use.fontawesome.com/9dccc81e5b.js"></script>
    <script src="code.js"></script>
  </body>
</html>

