<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112526902-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-112526902-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aiming to record every Midseason Showdown, Regional, and National VGC tournament for further analysis.">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" type="image/png" href="https://www.serebii.net/shuffle/pokemon/576.png">

    <title>VGCStats</title>
  </head>

  <!-- Spinner -->
  <template id="spinnercomp">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </template>

  <!-- patreonbar -->
  <template id="patreonbar"> 
    <b-alert class="alert alert-primary" variant="alert" show dismissible>
      Thank you to this month's patrons: <span v-for="(patron,index) in patrons">{{patron[0]}}<span v-if="index!==patrons.length-1">, </span><span v-if="index==patrons.length-2">and </span></span>. Support us <a href="https://www.patreon.com/vgcstats" class="alert-link">here</a>!
    </b-alert>
  </template>

  <!-- Footer bar -->
  <template id="footercomp">
    <nav class="navbar navbar-dark submit-bar fixed-bottom" style="width: 100%;">
      <router-link to="/submit" class="btn btn-success float-right">Submit results!</router-link>
    </nav>
  </template>

  <!-- Pokemon stat card -->
  <template id ="pokecard">
    <div class="col-md-4 col-lg-3 col-sm-6" :class="{ hidden : hidden }"> 
      <div class="card text-center my-2">
        <div class="card-header h6">
          <span class="badge badge-secondary float-left badge-pill">#{{ rank }}</span>{{ name }}
        </div>
        <div class="div-card-img"><img class="card-img-top px-5 align-middle img-fluid" :src="image" alt="Card image cap"></div>
        <div class="card-body">
          <p class="card-text">
            <strong>{{ cp }}</strong> CP <br>
            <b-popover title="CP-Weighted Usage" triggers="hover" :placement="'bottom'" :target="'cpwu' + name">
              Usage throughout all Top Cut/Day 2 finishes, weighted to that Pokemon’s total CP earnings throughout all Top Cut/Day 2 finishes. For example, if Pikachu had 25% CP-Weighted Usage, that would mean ¼ of the CP earned in Top Cut/Day 2 of 2018 tournaments was earned by Pikachu players.
            </b-popover>
            <small :id="'cpwu' + name"><strong>{{ cpwu }}</strong> CP-WU</small>
          </p>
        </div>
      </div>
    </div>
  </template>

  <!-- Event teams card -->
  <template id="eventcard">
    <div class="col-lg-4 col-md-6">
      <div class="card my-2">
        <div class="card-header" v-b-toggle="'card-' + event.Date + event.Region + event.Country">
          <h6 clasS="my-0">{{ event.Date }} - {{ event.Region }}, {{ event.Country }}
          <i class="c-up fa fa-caret-up float-right" aria-hidden="true"></i>
          <i class="c-dn fa fa-caret-down float-right" aria-hidden="true"></i>
          <a class="btn btn-outline-secondary btn-video float-right" v-show="event.Playlist" :href="event.Playlist" target="_blank">
            <i class="fa fa-youtube-play text-danger" aria-hidden="true"> </i>
          </a>
          </h6>
        </div>
          
        <b-collapse :id="'card-' + event.Date + event.Region + event.Country">
          <div class="card-body">
            <div v-for="team in event.teams" :key="event._id">
              <h6>{{ team.Placing}}) {{team.Player}}</h6>
              <img class="team-image py-1" :src="team.Img1">
              <img class="team-image py-1" :src="team.Img2">
              <img class="team-image py-1" :src="team.Img3">
              <img class="team-image py-1" :src="team.Img4">
              <img class="team-image py-1" :src="team.Img5">
              <img class="team-image py-1" :src="team.Img6">
              <br>
            </div>
          </div>
        </b-collapse>
      </div>
    </div>
  </template> 
  
  <!-- Stats page -->
  <template id="statspage">
    <div class="container">
      <spinnercomp v-if="loading"></spinnercomp>
      <b-alert 
        show
        dismissible
        variant="success"
        v-if="alert" 
        v-cloak>
          Playlist submitted. Thank you!
      </b-alert>
      
      <div v-show="!loading">
        <!-- patreonbar -->
        <patreonbar v-cloak> </patreonbar>
      
        <div class="control row no-gutters mb-2">
          <!-- Search bar -->
          <div class="input-group col-md-6 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search bar" v-model="search">
          </div>

          <!-- Time filtering -->
          <div class="input-group col-6 col-md-3 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <input type="date" value="begindate" class="form-control" placeholder="Begin" name="bdate" v-model="begindate">
          </div>

          <div class="input-group col-6 col-md-3 mb-1">
            <div class="input-group-prepend" class="ml-1">
              <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <input type="date" value="enddate" class="form-control" name="edate" v-model="enddate">
          </div>
        </div>

        <!-- Event filtering -->
        <div class="btn-group btn-group-toggle mb-3 d-flex" role="group" data-toggle="buttons" id="date-buttons">
          <label class="btn w-100 btn-outline-secondary" :class="{ active: pcon }">
            <input @click="togglepc" type="checkbox" name="options" id="option1" autocomplete="off"> PC
          </label>
          <label class="btn w-100 btn-outline-secondary" :class="{ active: msson }">
            <input @click="togglemss" type="checkbox" name="options" id="option2" autocomplete="off"> MSS
          </label>
          <label class="btn w-100 btn-outline-secondary" :class="{ active: regson }">
            <input @click="toggleregs" type="checkbox" name="options" id="option2" autocomplete="off"> Regs
          </label>
          <label class="btn w-100 btn-outline-secondary" :class="{ active: natson }">
            <input @click="togglenats" type="checkbox" name="options" id="option2" autocomplete="off"> Nats
          </label>
        </div>
      </div>

      <div class="row">
        <pokecard 
          :tcp="totalCP"
          :search="search"
          v-for="poke in searchPokemon"
          :name="poke.name"
          :image="poke.image"
          :cp="poke.cp"
          :rank="poke.rank"
          :key="poke.name"
        ></pokecard>
      </div> 
    </div>
  </template>

  <!-- Events page -->
  <template id="eventpage">
    <div class="container">
      <spinnercomp v-if="loading"></spinnercomp>
      <div class="row">
        <eventcard
          v-for="(event, key) in events"
          :event="event"
          :key="key"
        ></eventcard>
      </div>
    </div>
  </template>

  <!-- Submit page -->
  <template id="submitpage">
    <div class="container">
      <h3>Submit results!</h3>
      <div>If you are a TO, a player, or a caster and you want to report results, VOD playlists, or you just want to tell us something please use this form. Thank you!</div>
      <hr>
      <form action="https://formcarry.com/s/r1hYPGmKf" method="POST" accept-charset="UTF-8" >

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" class="form-control" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="event">Event</label>
          <input type="text" name="event" id="event" class="form-control" required>
          <small id="eventHelp" class="form-text text-muted">Please tell us the type (MSS, Reg), date, country and region of the event you are submitting.</small>
        </div>

        <div class="form-group">
          <label for="event">Image</label><br>
          <input 
            type="hidden"
            role="uploadcare-uploader" 
            name="image"
            data-crop="disabled"
            data-preview-step="true"
            data-images-only="true" 
          />
          <small id="imageHelp" class="form-text text-muted">If you want to send us results using an image, please add it here.</small>
        </div>        

        <div class="form-group">
          <label for="playlist">VOD Playlist</label>
          <input type="text" name="playlist" id="playlist" class="form-control">
          <small id="playlistHelp" class="form-text text-muted">If your event has a VOD playlist in youtube or other video service, please add it here.</small>
        </div>

        <div class="form-group">
          <label for="extra">Anything else</label>
          <textarea name="extra" id="extra" class="form-control" rows="3"></textarea>
          <small id="extraHelp" class="form-text text-muted">If you want to tell us something else, or you just want to write results as text, here is the place.</small>
        </div>

        <input type="hidden" name="_gotcha">

        <div class="g-recaptcha" data-sitekey="6LdJB0wUAAAAAM3OYBMsSLXIVfxyhJExRAT4udvl"></div>
        <br>

        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      </form>
    </div>
  </template>
  
  <!-- BODY -->
  <body>
    <div id="app">
      <div class="jumbotron">
        <img src="https://www.serebii.net/art/th/576.png" class="float-left">
        <h1 class="display-4">VGCStats</h1>
        <p class="lead">Aiming to record every Midseason Showdown, Regional, and National VGC tournament for further analysis. By <a href="https://twitter.com/profshroomish">@profshroomish</a></p> 

        <nav class="nav nav-fill main-nav">
          <router-link class="text-muted nav-item nav-link" to="/" exact>Stats</router-link>

          <a class="text-muted nav-item nav-link" href="https://teams.vgcstats.com">Teams</a>

          <a class="text-muted nav-item nav-link" href="https://articles.vgcstats.com">Articles</a>

          <b-nav-item-dropdown class="text-muted nav-item-dropdown nav-link" text="Events">
            <b-dropdown-item><router-link class="text-muted nav-item nav-link" v-cloak to="/pc">PC</router-link></b-dropdown-item>
            <b-dropdown-item><router-link class="text-muted nav-item nav-link" v-cloak to="/mss">MSS</router-link></b-dropdown-item>
            <b-dropdown-item><router-link class="text-muted nav-item nav-link" v-cloak to="/regs">Regs</router-link></b-dropdown-item>
            <b-dropdown-item><router-link class="text-muted nav-item nav-link" v-cloak to="/nats">Nats</router-link></b-dropdown-item>
          </b-nav-item-dropdown>

          
          <b-nav-item-dropdown class="text-muted nav-item-dropdown nav-link" text="Other">
            <a class="text-muted nav-item nav-link" v-cloak href="https://gw.vgcstats.com">Galar Friendlies</a>
            <a class="text-muted nav-item nav-link" v-cloak href="https://2019.vgcstats.com">2019</a>
            <a class="text-muted nav-item nav-link" v-cloak href="https://2018.vgcstats.com">2018</a>
            <a class="text-muted nav-item nav-link" v-cloak href="https://worlds19.vgcstats.com">Worlds 19</a>
            <a class="text-muted nav-item nav-link" v-cloak href="https://worlds.vgcstats.com">Worlds 18</a>
          </b-nav-item-dropdown>
          <a class="text-info nav-item nav-link" href="https://www.patreon.com/vgcstats">Support us!</a>
        </nav>
      </div>

      <keep-alive> 
        <router-view></router-view>
      </keep-alive>
      <footercomp></footercomp>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://use.fontawesome.com/9dccc81e5b.js"></script>
    <script src="code.js"></script>
  </body>
</html>

