<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" type="image/png" href="https://www.serebii.net/shuffle/pokemon/576.png">

    <title>VGCStats</title>
  </head>
  <body>
    
    <div class="jumbotron">
      <img src="https://www.serebii.net/art/th/576.png" class="float-left">
      <h1 class="display-4">VGCStats</h1>
      <p class="lead">Aiming to record every Midseason Showdown, Regional, and National VGC tournament for further analysis. By <a href="https://twitter.com/profshroomish">@profshroomish</a></p> 

      <nav class="nav nav-fill main-nav">
        <a class="text-muted nav-item nav-link" href="index.html">Stats</a>
        <a class="text-muted nav-item nav-link active" href="mss.html">MSS</a>
        <a class="text-muted nav-item nav-link" href="regs.html">Regs</a>
        <a class="text-muted nav-item nav-link" href="nats.html">Nats</a>
        <a class="text-info  nav-item nav-link" href="https://ko-fi.com/vgcstats">Buy us a coffee!</a>
      </nav>
    </div>

    <template id="eventcard">
      <div class="col-lg-4 col-md-6">
        <div class="card my-2">
          <div class="card-header" v-b-toggle="'card-' + event[0].Date + event[0].Region + event[0].Country">
            <h6 clasS="my-0">{{ event[0].Date }} - {{ event[0].Region }}, {{ event[0].Country }}
            <i class="c-up fa fa-caret-up float-right" aria-hidden="true"></i>
            <i class="c-dn fa fa-caret-down float-right" aria-hidden="true"></i>
            </h6>
          </div>
          <b-collapse :id="'card-' + event[0].Date + event[0].Region + event[0].Country">
            
            <div class="card-body">
              <div v-for="team in event">
                <h6>{{ team.Placing}}) {{team.Player}}</h6>
                <img class="team-image py-1" :src="team.Img1">
                <img class="team-image py-1" :src="team.Img2">
                <img class="team-image py-1" :src="team.Img3">
                <img class="team-image py-1" :src="team.Img4">
                <img class="team-image py-1" :src="team.Img5">
                <img class="team-image py-1" :src="team.Img6">
                <br>
              </div>
            </div>
          </b-collapse>
        </div>
      </div>
    </template>    

    <div id="app" class="container">
      <div class="spinner" v-show="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="row">
        <eventcard
          v-for="event, key in events"
          v-bind:event="event"
        ></eventcard>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/miso.dataset@0.4.1/dist/miso.ds.deps.min.0.4.1.js"></script>
    <script src="https://use.fontawesome.com/9dccc81e5b.js"></script>
    <!-- <script src="code.js"></script> -->
    <script type="text/javascript">
      const eventcard = Vue.component('eventcard', {
        template: '#eventcard',
        props: [
          'teams',
          'key',
          'event'
        ]
      });

      const vm = new Vue({
        el: '#app',
        data: {
          events: [],
          loading: true,
        },
        mounted() {
          var data = this;

          const cpSheet = new Miso.Dataset({
            importer : Miso.Dataset.Importers.GoogleSpreadsheet,
            parser : Miso.Dataset.Parsers.GoogleSpreadsheet,
            key : "1WUNrJWrsAK_7EEIn2L0QyMC2SArXqGIOpJ4G1XrlU20",
            worksheet : "2"
          });

          var misodata = []; 

          cpSheet.fetch({
            success : function() {
              cpSheet.where({
                rows : function (row) { return row.Placing != null; }
              }).each( function (row, index) {
                misodata.push(row);
              });
              data.events = misodata.reduce( 
                function (r, v, i, a) {
                  var k1 = v.Date;
                  var k2 = v.Region; 
                  var k3 = v.Country;
                  ( r[k1 + k2 + k3] || (r[k1 + k2 + k3] = []) ).push(v);
                  return r; 
                }, {}
              );
              data.loading = false;
            },

            error : function() {
              console.log("Are you sure you are connected to the internet?");
            }
          });
        }
      });

    </script>
  </body>
</html>
