<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel="stylesheet" href="styles.css" >
    <link rel="icon" type="image/png" href="https://www.serebii.net/shuffle/pokemon/576.png">

    <title>VGCStats</title>
  </head>
  <body>
    
    <div class="jumbotron">
      <img src="https://www.serebii.net/art/th/576.png" class="float-left">
      <h1 class="display-4">VGCStats</h1>
      <p class="lead">Aiming to record every Midseason Showdown, Regional, and National VGC tournament for further analysis. By <a href="https://twitter.com/profshroomish">@profshroomish</a></p>
      <nav class="nav nav-fill main-nav">
        <a class="text-muted nav-item nav-link" href="index.html">Stats</a>
        <a class="text-muted nav-item nav-link active" href="mss.html">MSS</a>
        <a class="text-muted nav-item nav-link" href="#">Regs</a>
        <a class="text-muted nav-item nav-link" href="#">Nats</a>
      </nav>
    </div>

    <template id="eventcard">
      <div class="col-lg-4 col-md-6">
        <div class="card my-2">
          <div class="card-header">
            <h5 clasS="my-0">{{ event[0].Date }} - {{ event[0].Region }}, {{ event[0].Country }}</h5>
          </div>
          <div class="card-body">
            <div v-for="team in event">
              <h6>{{ team.Placing}}) {{team.Player}} - </h6>
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/376-m.png">
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/788.png">
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/645-s.png">
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/145.png">
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/591.png">
              <img class="team-image" src="https://www.serebii.net/sunmoon/pokemon/248.png">
              <br>
            </div>
          </div>
        </div>
      </div>
    </template>    

    <div id="app" class="container">
      <div class="spinner" v-show="loading">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
      <div class="row">
        <eventcard
          v-for="event, key in events"
          v-bind:event="event"
        ></eventcard>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/miso.dataset@0.4.1/dist/miso.ds.deps.min.0.4.1.js"></script>
    <script src="https://use.fontawesome.com/9dccc81e5b.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <!-- <script src="code.js"></script> -->
    <script type="text/javascript">
      const eventcard = Vue.component('eventcard', {
        template: '#eventcard',
        props: [
          'teams',
          'key',
          'event'
        ]
      });

      const vm = new Vue({
        el: '#app',
        data: {
          events: [],
          loading: true,
        },
        mounted() {
          var data = this;

          const cpSheet = new Miso.Dataset({
            importer : Miso.Dataset.Importers.GoogleSpreadsheet,
            parser : Miso.Dataset.Parsers.GoogleSpreadsheet,
            key : "1zMGg8sq8ZiVtcEPt9THh2-v315CPH3d3n7vB7a9cbTg",
            worksheet : "1"
          });

          var misodata = []; 

          cpSheet.fetch({
            success : function() {
              cpSheet.where({
                rows : function (row) { return row.Placing != null; }
              }).each( function (row, index) {
                misodata.push(row);
              });
              data.events = _.groupBy(misodata, function (row) {return [row.Date, row.Region, row.Country]} )
              data.loading = false;

            },

            error : function() {
              console.log("Are you sure you are connected to the internet?");
            }
          });
        }
      });

    </script>
  </body>
</html>
